<!DOCTYPE html>
<html>
<head>
  <title>Cdddn</title>
  <%= stylesheet_link_tag    "cdddn/application", media: "all" %>
  <%= javascript_include_tag "cdddn/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
