<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= render 'shared/cdddn/mobile_layout.html.erb' %>
</head>
<body>

  <h1>MOBILE</h1>

  <%= yield %>

  <%= render 'shared/cdddn/mobile_full_site_btn.html.erb' %>

</body>
</html>
